.CodeForm_Input {
  background-color:  rgba(0,0,0,0.5);
  border: none;
  color: var(--color-primary-light);
  padding: 2vmin;
  text-align: center;
  text-transform: uppercase;
  outline-style: none;
}

::-webkit-input-placeholder {
  color: var(--color-primary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
