body {
  background-color: var(--color-background);
  color: var(--color-primary);
  margin: 0;
  padding: 0; }

.Wrap {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.Square {
  margin: auto;
  height: 100vmin;
  width: 100vmin;
  position: relative;
  overflow: hidden;
  padding: 50px; }

.UI {
  position: relative;
  width: 100%;
  height: 100%; }

.UI * {
  transition: stroke 1s; }

.UI--invalid * {
  stroke: var(--color-error); }

.UI--invalid .UIDotTop *, .UI--invalid UIDotBottom * {
  fill: var(--color-error); }

.UI--valid * {
  stroke: var(--color-highlight); }

.UI--valid .UIDotTop *, .UI--valid UIDotBottom * {
  fill: var(--color-highlight); }

.UIFull {
  filter: blur(3px);
  animation-name: UIFull;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate; }

.UISvg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.UIOutline--blur {
  filter: blur(10px); }

.UIOutline--blur * {
  stroke: var(--color-primary-light); }

.UIRuler {
  animation-name: UIRuler;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate; }

.UIInnerRing * {
  stroke-opacity: .1; }

.UIOutline {
  transform: rotate(-30deg); }

.UIInnerRing {
  animation-name: UIRuler;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse; }

.UIDotTop {
  animation-name: UIDots;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse; }

.UIDotBottom {
  animation-name: UIDots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate; }

.UICenter * {
  stroke-opacity: .1;
  fill-opacity: .1; }

.UI--loading .UICenter, .UI--loading UIInnerRing, .UI--loading .UIFull {
  display: none; }

@keyframes UIRuler {
  0% {
    transform: rotate(45deg); }
  30% {
    transform: rotate(120deg); }
  60% {
    transform: rotate(270deg); } }

@keyframes UIDots {
  0% {
    transform: rotate(0deg); }
  15% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(90deg); }
  60% {
    transform: rotate(90deg); }
  85% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(180deg); } }

@keyframes UIFull {
  0% {
    opacity: .5;
    transform: scale(1.1); }
  100% {
    opacity: .8;
    transform: scale(1); } }

.Step {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vmin;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.CodeForm_Input {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: var(--color-primary-light);
  padding: 2vmin;
  text-align: center;
  text-transform: uppercase;
  outline-style: none; }

::-webkit-input-placeholder {
  color: var(--color-primary); }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.Access--denied {
  color: var(--color-error); }

.Access--granted {
  color: var(--color-highlight); }

.Spinner {
  width: 25vmin;
  margin: auto;
  filter: blur(3px);
  position: relative;
  transform: translateY(-10vmin); }

.Spinner_Row:nth-child(2) {
  animation-delay: -5s; }

.Spinner_Row:nth-child(2n+1) {
  animation-delay: -6s; }

.Spinner_Row:nth-child(3n) {
  animation-delay: -7s; }

.Spinner_Row:nth-child(5n) {
  animation-delay: -8s; }

.Spinner_Row:nth-child(7n) {
  animation-delay: -9s; }

.Spinner_Row {
  transform: translateY(-5vmin);
  position: absolute;
  width: 100%;
  animation-name: SpinnerRow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate; }

.Spinner_Disk {
  stroke: var(--color-primary);
  fill: transparent; }

.Spinner--thin {
  animation-duration: 1s; }

.Spinner--mid {
  animation-duration: 2s; }

.Spinner--thin * {
  stroke-width: .5vmin; }

.Spinner--mid * {
  stroke-width: 1vmin; }

.Spinner--thick * {
  stroke-width: 2vmin; }

@keyframes SpinnerRow {
  0% {
    transform: translateY(-10vmin); }
  100% {
    transform: translateY(10vmin); } }

.Compass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vmin;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.Compass_Needle {
  opacity: .3;
  display: block;
  left: 15vmin;
  top: 15vmin;
  position: absolute;
  width: 70vmin;
  height: 70vmin;
  fill: var(--color-primary); }

.Compass_Ring {
  opacity: .5;
  display: block;
  left: 15vmin;
  top: 15vmin;
  position: absolute;
  width: 70vmin;
  height: 70vmin;
  fill: var(--color-primary); }

/*Colors*/
:root {
  --color-background: #000000;
  --color-primary: #05F2F2;
  --color-primary-light: #05C7F2;
  --font-size-default: 10vmin;
  --color-error: red;
  --color-highlight: green; }

* {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  font-size: var(--font-size-default);
  line-height: 10vmin; }
